.header {
  .logo {
    font-family: map-get($fonts-family, secondary);
    background-color: #e0b973;
    padding: 50px;
    border-radius: 0 0 50px 50px;
    color: #14274a;
    font-weight: bold;
    cursor: pointer;

    h2 {
      font-size: 4rem;
    }
    h3 {
      text-align: center;
      font-size: 1.5rem;
      letter-spacing: 10px;
    }
  }

  .navegation {
    display: flex;
    align-items: center;
    justify-content: space-around;


    .nav {
      padding: 50px;
      ul {
        display: flex;
      }

      li {
        position: relative;

        &:first-child {
          margin-left: 0;
        }
      }

      a {
        padding: 50px;
        transition: all 0.5s ease;
        color: #ffffff;

        &:hover {
          color: #14274a;
        }
      }

      li.is-active {
        a {
          color: #ffffff;
          cursor: default;
        }

        &::after {
          content: "";
          position: absolute;
          left: 26%;
          bottom: -10px;
          width: 50%;
          height: 4px;
          background-color: #ffffff;
          border-radius: 20px;
        }
      }
    }
  }

  @media (min-width: 0px) and (max-width: 1260px) {
    .logo {
      display: none;
    }
  }
}
